.tmp
**/charts/*.tgz
Chart.lock
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Terraform
*.tfvars*
.terraform
.DS_Store
.terraform.lock.hcl

# router
os/routers/openwrt-mesh/.env
