[Unit]
Description=OpenVPN Client
After=network.target

[Service]
Type=oneshot
Restart=on-failure
WorkingDirectory=/etc/openvpn
EnvironmentFile=/etc/openvpn/openvpn.service.env
ExecStart=/usr/sbin/openvpn \
    --config "${CONFIG_FILE}" \
    --auth-user-pass "${AUTH_FILE}"


[Install]
WantedBy=multi-user.target